{% extends "adminlayout.html" %}
{% block content %}
{% load static %}
<!--add user-->
<div class="col-lg-12 d-flex justify-content-center">
<div class="col-lg-5 registration ">
    <div class="row ">
            <h2><b>Product update here</b></h2>
    </div>
  
    <form  action="/product/productupdate/{{product.product_id}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- fullname -->
    <div class="row ">
        <div class="col-lg-3 input-group md-form form-sm">
            <div class="input-group-append">
                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <input type="text" name="product_name"  class="form-control mt-2" placeholder="product Name" value="{{product.product_name}}" required>
            </div>
        </div>
    <!-- email -->
        <div class="col-lg-3 input-group md-form form-sm ">
            <div class="input-group-append">
                <span class="icon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                <input type="text" name="product_price"  id="user_email"  class="form-control mt-2" placeholder="Product price" value="{{product.product_price}}" required>
            </div>
        </div>
    </div>
    <!-- Address -->
    <div class="row">
        <div class="col-lg-6 input-group md-form form-sm ">

        </div>
        <!-- Phone number-->
        <div class="col-lg-6 input-group md-form form-sm ">
            <div class="input-group-append">
                <span class="icon"><i class="fa fa-info" aria-hidden="true"></i></span>
                <input type="text" name="product_desc" id="user_phone" onfocusout="fn()" class="form-control mt-2" placeholder="product description" value="{{product.product_desc}}"  required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 input-group md-form form-sm ">
            <div class="input-group-append">
                <img width="100" src="{% static 'assets/' %}{{product.product_image}}">
            </div>
        </div>
        <div class="col-lg-6 input-group md-form form-sm ">
            <div class="input-group-append">
                <span class="icon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                <input type="file" name="product_image" class="form-control" required>
            </div>
        </div>
    </div>
    <!--Buttons -->
    <div class="row d-flex justify-content-center ">
    <div class="col-sm-6 btn-group m-3">
        <button  type="submit" class="btn btn-success ml-5" id="submit"><b>Update</b></button>
    </div>
</div>
    </form>
</div>
</div>
{% endblock %}